<%- include('./partials/navbar.ejs') %>

<div class="main-container">
  <main>
    <h2 class="heading"><%= user.name  %> 's Favorite Jokes</h2>
    <% user.dataValues.jokes.sort(function(a, b){return b.likes-a.likes}).forEach(function(joke) { %>
    <div class="jokes-container">
      <div class="individual-joke">
        <p> "<%= joke.content  %>" - <%= allComedians[joke.comedianId - 1].name  %> </p>
        <div class="items-container">
          <!-- <div class="laughs-container">
            <form method="POST" action="/favorites/addjoke/<%= joke.id %> ">
              <input hidden type="text">
              <button type="submit">Add a laugh</button>
            </form>
          </div> -->
          <div class="laughs-container">
            <form method="POST" action="/favorites/takejoke/<%= joke.id %> ">
              <input hidden type="text">
              <button type="submit">Remove a laugh</button>
            </form>
          </div>
          <!-- <div class="laughs-container">
            <form method="POST" action="/favorites/deletejoke/<%= joke.id %>?_method=DELETE">
              <input hidden type="text">
              <button type="submit">Delete joke</button>
            </form>
          </div> -->
          <div class="number-container">
            <span class="laughs-number"> <%= joke.likes  %> <span class="red-laugh">laughs</span> </span>

          </div>
        </div>
      </div>
    </div>
    <%}) %>
  </main>
</div>

