<!-- <h2>Main (Post-Login) </h2> -->

<%- include('./partials/navbar.ejs') %>
<div class="main-container">
  <main>
    <h1 class="heading">Joke<span>Pop</span></h1>
      <div class="jokes-container">
        <div class="info-container">
          <p>If it's funny it's here.</p>
        </div>
        <div class="individual-joke">
          <!-- <h3>Ramdom Joke:</h3> -->
          <%const randomTopic = allTopics[Math.floor(Math.random() * allTopics.length)]%>
          <%const randomJoke = randomTopic.dataValues.jokes[Math.floor(Math.random() * randomTopic.jokes.length)]%>
          <p> "<%= randomJoke.content  %>" - <a href="/comedian?comedian=<%= allComedians[randomJoke.comedianId - 1].id%>"><%= allComedians[randomJoke.comedianId - 1].name  %></a></p>
          <div class="items-container">
            <div class="laughs-container">
              <form method="POST" action="/main/addjoke/<%= randomJoke.id %>">
                <input hidden type="text">
                <button type="submit">Add a laugh</button>
              </form>
            </div>
            
            <div class="number-container">
              <span class="laughs-number"> <%= randomJoke.likes  %> <span class="red-laugh">laughs</span></span>
            </div>
          </div>     
        </div>
          
      </div>
  </main>
</div>