<!-- <h2>Main (Post-Login) </h2> -->

<%- include('./partials/navbar.ejs') %>
<div class="main-container">
  <main>
      <div class="jokes-container">
          <div class="individual-joke">
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis nisi at metus dictum malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ut bibendum mi, eget mollis massa. Nulla facilisi. Nullam id erat eu urna convallis aliquam vel vitae ipsum. Donec nec risus a diam congue efficitur sed et justo. Phasellus eu semper sapien, quis bibendum nibh.</p> -->
              <h1>Random Joke:</h1>
              <%const randomTopic = allTopics[Math.floor(Math.random() * allTopics.length)]%>
              <%const randomJoke = randomTopic.dataValues.jokes[Math.floor(Math.random() * randomTopic.jokes.length)]%>
              <p> “<%= randomJoke.content  %>” - <a href=“/comedian?comedian=<%= allComedians[randomJoke.comedianId - 1].id%>“><%= allComedians[randomJoke.comedianId - 1].name  %></a></p> 
              <div class="items-container">

                <div class="laughs-container">
                  <form method="POST" action="/main/addjoke/<%= randomJoke.id %>">
                    <input hidden type="text">
                    <button type="submit">Add a laugh</button>
                  </form>
                </div>

                <div class="laughs-container">
                  <form method="POST" action="/main/takejoke/<%= randomJoke.id %>">
                    <input hidden type="text">
                    <button type="submit">Remove a laugh</button>
                  </form>
                </div>

                <div class="number-container">
                  <span class="laughs-number">Laughs: <%= randomJoke.likes  %> </span>
                </div>
              </div>
          </div>
      </div>
  </main>
</div>
